﻿/* TODO: replace all these box <h3>s w/ span.label for compliance */
/*.box dt h3 {
	display:inline;
	font-weight:800;
	font-size:16px;
	color:#2E3E50;
}

.box dt span.label {
	font-size:14px;
	color:white;
}*/



/* plain box */
dl.box {
	float: left;
	margin-right:20px;
	margin-bottom:20px;
	width:430px;
	height:320px;
	border:1px solid #dddee1;
	border-radius:10px;
}
.box dt { 
	height:40px;
	line-height:40px;
	background-color: #F4F4F6;
	padding-left:14px;
	/*padding-top:13px;*/
	border-radius: 10px 10px 0px 0px;
}

.box.collapsed dt { 
	border-radius: 10px;
}

.box dt i {
	margin-right:10px;
	width:18px;
	height:18px;
	display:inline-block;
	position:relative;
	top:3px;	
}
.box dt i.iconExclaim { background: url(../images/dashboard/dashIconExclaim.gif) no-repeat scroll; }
.box dt i.iconDots { background: url(../images/dashboard/dashIconDots.gif) no-repeat scroll; }
.box dt i.iconTimer { background: url(../images/dashboard/dashIconTimer.gif) no-repeat scroll; }
.box dt i.iconGauge { background: url(../images/dashboard/dashIconGauge.gif) no-repeat scroll; }
.box dt i.iconTrend { background: url(../images/dashboard/dashIconTrend.gif) no-repeat scroll; }
.box dt i.iconFont { margin-right:9px; top:1px;	color:#2E3E50; font-size:20px; 
}

.box dt h3 {
	display:inline;
	font-weight:800;
	font-size:16px;
	color:#2E3E50;
}
.box dt h3 a {
	color:#2E3E50;
	transition:color .5s;
}
.box dt h3 a:hover {
	text-decoration:none;
	color:red;
	transition:color 0.3s;
}
.box dd {
	margin:0; 
	padding:20px;
}
.box.collapsed dd {
	display:none;
}


/* report box */
dl.box.reportForm {
	border:1px solid #9EB7CF;
}
.box.reportForm dt { 
	height:30px;
	line-height:30px;
	background-color:#DFEAF5;
}
.box.reportForm dt h3 {
	font-size:14px;
}


/* box w/ sex-text description */
.box.subtext dt { 
	height:63px;
	line-height:63px;
}
.box.subtext dt i {
	top:-5px;
}
.box.subtext dt .description {
	display:inline-block;
	line-height:normal;
	position:relative;
	top:10px;
}
.box.subtext dt h3 {
	display:block;
	padding:0px;
	margin:0px;
}


/* search criteria box */
dl.box.search {
	height:initial;
	border:none;
	margin-bottom:30px;
	float:none;
}
.box.search dt { 
	height:30px;
	line-height:30px;
	background-color:#7C7B9C;
	
}

/* TODO: replace all these box <h3>s w/ span.label for compliance */
.box.search dt span.label {
	font-size:14px;
	color:white;
}
.box.search dt i {
	font-size:18px;
	color:white;
	float:right;
	margin-top:4px;
}
.box.search dd {
	padding-top:10px;
	padding-bottom:15px;
	background-color:#E9E9EE;
	border:1px solid #D2D2D6;
	border-radius: 0px 0px 10px 10px;
}
.box.search td.label {
	height: 28px;
	color: #354657;
	font-weight: 600;
	white-space: nowrap;
	padding-right:5px;
}

.box.fixed dd 
{
	overflow-x: hidden;
	height: 200px;
}