		

a:link {
	color:#000099;
	text-decoration:none;
}		
a:visited { color:#000099; }
a:hover {
	text-decoration:underline;
	color:red;
}



/* COMMON */

.warningMessage {
	display:block;
	color: #d50f17;
	font-weight: 600;
	text-align: center;
	margin-bottom: 20px;
}
.successMessage {
	display:block;
	color: green;
	font-weight: 600;
	text-align: center;
	margin-bottom: 20px;
}
.plainMessage {
	display:block;
	color:black;
	font-weight: 600;
	text-align: center;
	margin-bottom: 20px;
}

.smallIcon{
	font-size:14px;
	margin-right:7px;
}

.error { font:bold 11px verdana, arial; color:red; }
.success { font:bold 11px verdana, arial; color:green; }
.required { font:bold 11px verdana, arial; color:red; }
.siteNav { font-weight:800;	}
.label { color:#354657; font-weight: 600; }
td.label { padding-right:5px; }

.validationSummary {
	/*margin:20px 0px;*/
	margin-bottom:20px;
	font:bold 11px verdana, arial; color:red;
}


/* FLAT BUTTON */
		
a.flatButton {
	display:inline-block;
	padding:4px 14px;
	font:14px 'LatoBold', sans-serif;
	color:white !important;
	text-decoration:none;
	cursor:pointer;
	background-color:#3598DB;
	border-radius:4px;	
	/*text-align:center;
	margin-left:auto;
	margin-right:auto;*/
	transition:background 0.3s;
}	
a.flatButton:hover {
	background-color:#5DADE2;
	transition:background 0.3s;
}			
a.flatButton:focus, .flatButton:active {
	background-color:#2485C6;
}		
a.flatButton.disabled, .flatButton.disabled:focus, .flatButton.disabled:active {
	cursor:default;
	pointer-events: none; /*may not work in IE */
	background-color:#b2b8be;
	opacity:.60;
}
a.flatButton i {
	font-size:12px;
	margin-right:2px
	/*margin-right:4px;*/
}

a.flatButton.med {
	width:175px;
	padding:4px 14px;
	margin-bottom:1px;
	margin-right:8px;
	font:600 18px 'Open Sans', sans-serif;
}
a.flatButton.med i {
	position:relative;
	top:-2px;
	font-size:14px;
}

a.flatButton.big {
	width:350px;
	display:block;
	padding:15px;
	margin-bottom:20px;
	font:600 24px 'Open Sans', sans-serif;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
a.flatButton.big i {
	font-size:18px;
	margin-right:10px;
}


/* TELERIK */

/* RADGRID */
.rgEditForm { background-color:#DFEAF5; }

/*.rgEditForm a { color:white; }*/

.gridForm { padding: 10px 10px 15px 10px; } /* our containing div */

.commandItem a {
	/*color:red;*/
	font-weight:bold;
}
.rgCaption { font-weight:bold; }
.rgDetailTable { margin: 15px 0px 25px 0px; }
.exportLink { margin-top:10px; }


/* RadFormDecorator checkboxes */
.RadForm.rfdCheckbox input[type='checkbox'] + label {
	font:400 13px 'Open Sans',sans-serif !important;
	color:black !important;
}
.RadForm.rfdCheckbox input[type='checkbox']:checked + label {
	font:600 13px 'Open Sans',sans-serif !important;
	color:#25A0DA !important;
}

/* RadFormDecorator radio buttons */
/*.RadForm.rfdRadio input[type='radio'] {
	font:400 13px 'Open Sans',sans-serif !important;
	color:black !important;
}*/
.gridForm label{
	font:400 13px 'Open Sans',sans-serif !important;
	color:black !important;
}
.RadForm.rfdRadio input[type='radio']:checked + label {
	font:600 13px 'Open Sans',sans-serif !important;
	color:#25A0DA !important;
}



/* input boxes  */
.RadInput_Default, .RadInputMgr_Default, .riTextBox, input:not([type=submit]):not([type=file]) {
	font:12px Arial,Helvetica,sans-serif !important;
}


/* TABLE */
.lightList th {
	text-align:left;
	font-size:10px;
	color:gray;			
	padding-bottom:5px;			
	border-bottom:solid;
	border-width:1px;
	border-color:#717171;
}
.lightList tbody td {
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:solid;
	border-width:1px;
	border-color:#E4E4E4;
}		
.lightList tbody td img {
	margin-left:8px;
	vertical-align: bottom;
}

.lightList a {
	text-decoration:none;
	color:black;
	/* transition:color 0.3s; */
}
.lightList a:hover {
	text-decoration:underline;
	color:red;
	/* transition:color 0.3s; */
}

table.bordered {
  border-collapse:collapse;
}
td.bordered {
  border:1px solid #9EB7CF;
  padding:10px;
}
td.bordered.gray {
  border:1px solid #DBE3E4;
  padding:10px;
}

.checkBoxListLabel { 
	color:#2E3E50; 
	font:bold 11px verdana, arial;
	/*font-weight: 600;*/ 
	margin-bottom:6px; 
	text-align:center; 
	text-decoration:underline; 
}




.actionButton a {
	font-weight:600;
    text-decoration: none;
	color: #B2B2B2;
	transition:background-color 0.3s;
	padding:3px 10px;
	border-radius:5px;
}
.actionButton a:hover {
	background-color:#E6E6E6;
	transition:background-color 0.3s;
	border-radius:5px;
}
.actionButton i {
	margin-right:6px;
}
