﻿
/* our blue containing box */
.formBox {
	width: 530px;
	min-height:400px;
	padding: 18px 22px 18px 22px;
	background-color: #DFEAF5;
	border: 1px solid #9EB7CF;
	border-radius: 10px 10px 10px 10px;
	position: relative;
	top: 0px;
	left: 25px;
}	
	/* we use tables for many forms; one cell usually has a label in it */
	.formBox td.label {
		height: 28px;
		padding-right:5px;
		color: #354657; /* lighter: #545f6b; darker: #354657; darkest:2d3d4e */
		font-weight: 800;
		white-space: nowrap;
	}
	.formBox .label {
		color: #354657;
		font-weight: 800;
	}

/* this is used by our grid-usercontrol-forms */
.gridForm td.label {
	line-height:32px;
	height: 32px;
	font:800 13px 'Open Sans', sans-serif;
	padding-right:5px;
	position:relative;
	top:-1px;
}



ul.reportNav
{
	margin-bottom:20px;
}

ul.reportNav li {
	position: relative;
	left: -40px;
	list-style-type: none;
	display: inline;
	font-weight: 800;
	font-size: 14px;
	margin: 0px 3px 0px 0px;
}
	ul.reportNav li.selected {
		display: inline;
		padding: 3px 15px;
		/*background-color: #DE4427;*/
		background-color: #2D93D6;
		border-radius: 5px;
		color: white;
	}
.reportNav a {
	display: inline;
	padding: 3px 20px;
	border-radius: 5px;
	/*color: #DE4427;*/
	color: #2D93D6;
	transition:background-color 0.3s;
}
	.reportNav a:hover {
		background-color: #EEEEEE;
		transition:background-color 0.3s;
		text-decoration: none;
		/*color: #C11206;*/
		color: #1574AF;
	}



#ReportSubNav {
	text-align: right;
	-ms-transform: rotate(-90deg); /* IE */
	-webkit-transform: rotate(-90deg); /* safari, chrome */
	transform: rotate(-90deg);	
	position: relative;
	top: 323px;
	left: -286px;
	margin-bottom: -25px;	
	width: 600px;
	height: 25px;
	line-height: 25px;
	font-weight: 800;
	font-size: 13px;
	z-index: 100;
}

	#ReportSubNav a {
		padding: 3px 20px;
		color: #2D93D6;
		transition:background-color 0.3s;
	}
		#ReportSubNav a:hover {
			text-decoration: none;
			color: red;
			padding: 3px 20px;
			color: #1574AF;
			background-color: #EEEEEE;
			border-radius: 2px;
			transition:background-color 0.3s;

			/*
			color: #1574AF;
			background-color: #EEEEEE;
			border-radius: 5px;
			*/
		}

	#ReportSubNav .selected {
		padding: 3px 20px;
		background-color: #DFEAF5;
		border-left: 1px solid #9EB7CF;
		border-right: 1px solid #9EB7CF;
		border-top: 2px solid #EA6309;
		border-bottom: 1px solid #DFEAF5;
		color: #354657;
	}

	
#CarDamageMap {
	position:relative;
	top:30px;
	left:70px;
}
	#CarDamageMap label {
		position:relative;
	}