﻿<%@ Page Title="Field Map 3B" Language="C#" MasterPageFile="~/IncidentReports.Master" AutoEventWireup="true" CodeBehind="FieldMap3B.aspx.cs" Inherits="ReportHq.IncidentReports.FieldReports.FieldMap3b" %>

<asp:Content ID="Content2" ContentPlaceHolderID="phContent" runat="server">

	<style type="text/css">
	
	</style>

	<div style="margin-top:7px;">

		<img src="mockups/controls3.png" /><br />

		<img src="mockups/06_flowlineDepositionB.png" />

		<p style="clear:both;">&nbsp;</p>
		
	</div>

</asp:Content>
