﻿<%@ Page Title="Field Map 4" Language="C#" MasterPageFile="~/IncidentReports.Master" AutoEventWireup="true" CodeBehind="FieldMap4.aspx.cs" Inherits="ReportHq.IncidentReports.FieldReports.FieldMap4" %>

<asp:Content ID="Content2" ContentPlaceHolderID="phContent" runat="server">

	<style type="text/css">
	
	</style>

	<div style="margin-top:7px;">

		<img src="mockups/controls4.png" /><br />

		<img src="mockups/07_wellAlignment.png" />

		<p style="clear:both;">&nbsp;</p>
		
	</div>

</asp:Content>
