﻿<%@ Page Title="Field Map 1B" Language="C#" MasterPageFile="~/IncidentReports.Master" AutoEventWireup="true" CodeBehind="FieldMap1B.aspx.cs" Inherits="ReportHq.IncidentReports.FieldReports.FieldMap1b" %>


<asp:Content ID="Content2" ContentPlaceHolderID="phContent" runat="server">

	<style type="text/css">
	
	</style>

	<div style="margin-top:7px;">

		<img src="mockups/controls1.png" /><br />

		<img src="mockups/02_fieldMap1b.png" />

		<p style="clear:both;">&nbsp;</p>
		
	</div>

</asp:Content>
