﻿<%@ Page Title="Field Map 1A" Language="C#" MasterPageFile="~/IncidentReports.Master" AutoEventWireup="true" CodeBehind="FieldMap1A.aspx.cs" Inherits="ReportHq.IncidentReports.FieldReports.FieldMap1a" %>

<asp:Content ID="Content2" ContentPlaceHolderID="phContent" runat="server">

	<style type="text/css">
	
	</style>

	<div style="margin-top:7px;">

		<img src="mockups/controls1.png" /><br />

		<img src="mockups/01_fieldMap1A.png" />

		<p style="clear:both;">&nbsp;</p>
		
	</div>

</asp:Content>
