﻿<%@ Page Title="Field Map 3A" Language="C#" MasterPageFile="~/IncidentReports.Master" AutoEventWireup="true" CodeBehind="FieldMap3A.aspx.cs" Inherits="ReportHq.IncidentReports.FieldReports.FieldMap3a" %>

<asp:Content ID="Content2" ContentPlaceHolderID="phContent" runat="server">

	<style type="text/css">
	
	</style>

	<div style="margin-top:7px;">

		<img src="mockups/controls3.png" /><br />

		<img src="mockups/05_flowlineDepositionA.png" />

		<p style="clear:both;">&nbsp;</p>
		
	</div>

</asp:Content>
