﻿<%@ Page Title="Field Map 5" Language="C#" MasterPageFile="~/IncidentReports.Master" AutoEventWireup="true" CodeBehind="FieldMap5.aspx.cs" Inherits="ReportHq.IncidentReports.FieldReports.FieldMap5" %>

<asp:Content ID="Content2" ContentPlaceHolderID="phContent" runat="server">

	<style type="text/css">
	
	</style>

	<div style="margin-top:7px;">

		<img src="mockups/controls5.png" /><br />

		<img src="mockups/08_chemicalInjection.png" />

		<p style="clear:both;">&nbsp;</p>
		
	</div>

</asp:Content>
