﻿<%@ Page Title="Field Map 2" Language="C#" MasterPageFile="~/IncidentReports.Master" AutoEventWireup="true" CodeBehind="FieldMap2.aspx.cs" Inherits="ReportHq.IncidentReports.FieldReports.FieldMap2" %>

<asp:Content ID="Content2" ContentPlaceHolderID="phContent" runat="server">

	<style type="text/css">
	
	</style>

	<div style="margin-top:7px;">

		<img src="mockups/controls2.png" /><br />

		<img src="mockups/04_fieldMap2B.png" />

		<p style="clear:both;">&nbsp;</p>
		
	</div>

</asp:Content>
