﻿/* DASHBOARD BOXES */
		
dl.dashboardBox {		
	float: left;
	margin-right:20px;
	margin-bottom:20px;		
	width:450px;
	height:320px;			
	border:1px solid #dbe3e4;			
	border-radius:10px;			
	transition:border 0.3s;			
}		
dl.dashboardBox:hover
{
	border:1px solid #256F9D;
	transition:border 0.3s;
}		
.dashboardBox dt { 
	height:50px;
	background-color: #f4f6f7;
	padding-left:15px;
	padding-top:13px;
	border-radius: 10px 10px 0px 0px;
}
.dashboardBox dt .description {
	position:relative;
	top:-21px;
	left:30px;
}
.dashboardBox dt h3 {
	margin-top:0px;
	margin-bottom:0px;
	font-weight:800;
	font-size:16px;
	color:#2E3E50;
}
.dashboardBox dt h3 a {
	color:#2E3E50;
	transition:color .5s;
}
.dashboardBox dt h3 a:hover {
	text-decoration:none;
	color:red;
	transition:color 0.3s;
}
.dashboardBox dt i {
	width:18px;
	height:18px;
	display:inline-block;
	vertical-align:middle;
	margin-right:3px;			
}		
.dashboardBox  dd {
	margin:0; 
	padding:20px;
}
.dashboardBox th {
	text-align:left;
	font-size:10px;
	color:gray;			
	padding-bottom:5px;			
	border-bottom:solid;
	border-width:1px;
	border-color:#717171;
}
.dashboardBox tbody td {
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:solid;
	border-width:1px;
	border-color:#E4E4E4;
}		
.dashboardBox tbody td img {
	margin-left:8px;
	vertical-align: bottom;
}
.dashboardBox a {
	text-decoration:none;
	color:black;
	/* transition:color 0.3s; */
}
.dashboardBox a:hover {
	text-decoration:underline;
	color:red;
	/* transition:color 0.3s; */
}		
.dashboardBox i.iconExclaim { background: url(../images/dashboard/dashIconExclaim.gif) no-repeat scroll; }
.dashboardBox i.iconDots { background: url(../images/dashboard/dashIconDots.gif) no-repeat scroll; }
.dashboardBox i.iconTimer {	background: url(../images/dashboard/dashIconTimer.gif) no-repeat scroll; }
.dashboardBox i.iconGauge {	background: url(../images/dashboard/dashIconGauge.gif) no-repeat scroll; }
.dashboardBox i.iconTrend {	background: url(../images/dashboard/dashIconTrend.gif) no-repeat scroll; }


a:link.sectionLink {
	color:#000099;
	text-decoration:none;
	transition:color 0.3s;
}

a:visited.sectionLink { color:#2E3E50; }
		
a:hover.sectionLink {
	text-decoration:none;
	color:red;
	transition:color 0.3s;
}