﻿table.form {
	width: 530px;
	padding: 24px 10px 24px 22px;
	background-color: #F5F7F8;
	border: 1px solid #DBE3E4;
	border-radius: 10px 10px 10px 10px;
	position: relative;
	top: 0px;
	left: 25px;
}
	table.form td {
		background-color: none;
		padding: 0px 0px;
		height: 34px;
	}
		table.form td.label {
			color: #354657; /* lighter: #545f6b; darker: #354657; darkest:2d3d4e */
			font-weight: 600;
		}



ul.reportNav li {
	position: relative;
	left: -40px;
	list-style-type: none;
	display: inline;
	font-weight: 800;
	font-size: 14px;
	margin: 0px 3px 0px 0px;
}
	ul.reportNav li.selected {
		display: inline;
		padding: 3px 15px;
		/*background-color: #DE4427;*/
		background-color: #2D93D6;
		border-radius: 5px;
		color: white;
	}
.reportNav a {
	display: inline;
	padding: 3px 20px;
	border-radius: 5px;
	/*color: #DE4427;*/
	color: #2D93D6;
	transition:background-color 0.3s;
}
	.reportNav a:hover {
		background-color: #EEEEEE;
		transition:background-color 0.3s;
		text-decoration: none;
		/*color: #C11206;*/
		color: #1574AF;
	}



#ReportSubNav {
	text-align: right;
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg); /* safari, chrome */
	transform: rotate(-90deg);
	position: absolute;
	top: 400px;
	left: -166px; /* this is off  by 1 pixel for IE/FF vs Chrome */
	width: 420px;
	height: 25px;
	line-height: 25px;
	font-weight: 800;
	font-size: 13px;
	z-index: 100;
}

	#ReportSubNav a {
		padding: 3px 20px;
		color: #2D93D6;
		transition:background-color 0.3s;
	}
		#ReportSubNav a:hover {
			text-decoration: none;
			color: red;
			padding: 3px 20px;
			color: #1574AF;
			background-color: #EEEEEE;
			border-radius: 2px;
			transition:background-color 0.3s;

			/*
			color: #1574AF;
			background-color: #EEEEEE;
			border-radius: 5px;
			*/
		}

	#ReportSubNav .selected {
		padding: 3px 20px;
		background-color: #F5F7F8;
		border-left: 1px solid #DBE3E4;
		border-right: 1px solid #DBE3E4;
		border-top: 2px solid #EA6309;
		border-bottom: 1px solid #F5F7F8;
		color: #354657;
	}	