
<h1>Stolen Vehicle</h1>

<table style="width: 500px; height: 300px;" align="center">
    <tbody>
        <tr>
            <td style="text-align: center;"><img alt="" src="/IncidentReports/RadEditorFiles/Bulletins/Images/MissingPersons/missing.jpg" style="width: 240px; height: 229px;" /><br />
            <br />
            </td>
            <td>
            <ul>
                <li>[make]</li>
                <li>[model]</li>
                <li>[color]</li>
                <li>[last seen]</li>
            </ul>
            </td>
        </tr>
    </tbody>
</table>
<p>This vehicle was last seen on XXX.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in ligula et odio ultrices facilisis sed nec leo. Proin facilisis pulvinar nulla. Suspendisse rutrum feugiat metus, tempus facilisis metus. Praesent id tellus diam. Pellentesque nisi magna, convallis ac laoreet id, laoreet quis neque. Etiam mattis, ligula ac ullamcorper pretium, justo sem sagittis mauris, a aliquet nisi nulla blandit neque.</p>