﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="IncidentReports.Master.cs" Inherits="ReportHq.IncidentReports.NormalMasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
	<link rel="stylesheet" href="~/fonts/webfonts.css" type="text/css" />
	<link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" />
	<link rel="stylesheet" href="~/css/normalPage.css" type="text/css" />
	<link rel="stylesheet" href="~/css/common.css" type="text/css" />

	<script src="/js/jquery-2.1.1.min.js" type="text/javascript"></script>

	<asp:ContentPlaceHolder ID="head" runat="server" />
</head>
<body>

	<form id="form1" runat="server">

		<%-- 
			TODO: manually using our own jquery broke ajax for the grid. temporarily going back to telerik's embedded AND my own for my stuff (tho its possible to set theirs to work w/ mine, too) 
			--------

			required by ASP.NET AJAX controls. more .js may be loaded in ReportPage.cs.

			note that we're using our minified version of jquery, referenced above. this should be smaller than telerik's embedded version. we're then disabling theirs below, and including some other libraries they require.

			<telerik:RadScriptReference Path="~/js/jquery-2.1.1.min.js" />
		--%>
		<Telerik:RadScriptManager ID="radScriptManager" runat="server" EnableEmbeddedjQuery="true">
			<Scripts>
				
				<telerik:RadScriptReference Path="~/js/common.js" />
				<telerik:RadScriptReference Path="~/js/notifications.js" />
				<telerik:RadScriptReference Path="~/js/radWindowHelpers.js" />
				<telerik:RadScriptReference Path="~/js/radWindowState.js" />
				<telerik:RadScriptReference Path="~/js/cookieHelpers.js" />

				<%--<asp:ScriptReference Assembly="Telerik.Web.UI" Name="Telerik.Web.UI.Common.Core.js" />
				<asp:ScriptReference Assembly="Telerik.Web.UI" Name="Telerik.Web.UI.Common.Detection.Detection.js" />
				<asp:ScriptReference Assembly="Telerik.Web.UI" Name="Telerik.Web.UI.Common.jQueryExternal.js" />
				<asp:ScriptReference Assembly="Telerik.Web.UI" Name="Telerik.Web.UI.Common.jQueryPlugins.js" />--%>

			</Scripts>
		</Telerik:RadScriptManager>

		<Telerik:RadStyleSheetManager ID="radStylesheetManager" runat="server" />


		<!-- used by various js code -->
		<input type="hidden" id="hidUsername" runat="server" />
		<input type="hidden" id="hidReportID" runat="server" />
		
		<div id="Container">
	
			<ReportHq:Header ID="ucHeader" runat="server" />
						
			<div id="Content">

				<asp:Label ID="lblMessage" Visible="false" EnableViewState="false" runat="server" />

				<asp:ContentPlaceHolder ID="phContent" runat="server" />

			</div>

		</div>

		<ReportHq:Footer ID="ucFooter" runat="server" />

		<!-- used by various ajax-enabled controls -->
		<Telerik:RadAjaxLoadingPanel ID="ajaxLoadingPanel" Skin="Default" MinDisplayTime="15" runat="server" />


		<Telerik:RadWindowManager ID="radWindowManager" VisibleOnPageLoad="false" Skin="Default" runat="server">
			<Windows>
				
				<Telerik:RadWindow
					ID="rwHelp" 
					Visible="false"
					OpenerElementId="ucHeader_linkHelp"
					Modal="true"
					Behavior="Move,Close,Resize"
					Width="600px"
					Height="500px" 
					VisibleStatusbar="false" 
					Runat="server" />

				<Telerik:RadWindow
					ID="rwSubmit" 
					Visible="false"
					OpenerElementId="SubmitLink" 
					NavigateUrl="~/SubmitReport.aspx?rid=" 
					Modal="true" 
					Behavior="Move,Close,Resize"
					Width="400px"
					Height="400px"
					VisibleStatusbar="false" 
					Runat="server" />
					
				<Telerik:RadWindow
					ID="rwSupervisorReview" 
					Visible="false" 
					OpenerElementID="SupervisorReviewLink"
					NavigateUrl="~/Supervisor/SupervisorReview.aspx?rid=" 
					Modal="true" 
					Behavior="Move,Resize,Close"
					Width="632px"
					Height="554px"
					VisibleStatusbar="false" 
					Runat="server" />

				<Telerik:RadWindow
					ID="rwSupervisorNotes" 
					VisibleCookieName="superNotesVis_" 
					CoordsCookieName="superNotesCoords_"
					Visible="false"
					NavigateUrl="~/SupervisorNotes.aspx?rid=" 
					Modal="false" 
					Behavior="Move,Close"
					Width="510px"
					Height="416px"
					VisibleStatusbar="false" 
					EnableShadow="true"
					OnClientDragEnd="saveWindowCoords" 
					OnClientClose="deleteVisCookies"
					Runat="server" />

				<Telerik:RadWindow
					ID="rwRenewSession" 
					Visible="true"
					NavigateUrl="~/RenewSession.aspx?rid=" 
					Modal="true" 
					Behavior="Move,Close"
					VisibleStatusbar="false"
					Runat="server" />

				<telerik:RadWindow
					ID="rwBulletin"
					Visible="true"
					Modal="false"
					Behavior="Move,Resize,Close,Maximize"
					Width="700px"
					Height="560px"
					VisibleStatusbar="false"
					EnableShadow="true"
					runat="server" />
				
			</Windows>
		</Telerik:RadWindowManager>
    	
	</form>
	

</body>
</html>
