﻿<%@ Page Title="test" Language="C#" AutoEventWireup="true" CodeBehind="test.aspx.cs" Inherits="ReportHq.IncidentReports.test" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<title>Box Layout</title>
</head>

<body>

	<form id="form1" runat="server">

		<h1>Date Loop</h1>

		<asp:Literal ID="litTemp" runat="server" />

	</form>

</body>
</html>
